body{
    background:rgb(1, 40, 112);
}
div{
    height:50%;
    width:21.5%;
    border:2px solid green;
    background-color:greenyellow;
    text-align:center;
}
h1{
    color:white;
}
h3{
    background:orange;
    border-bottom:2px solid green;
    padding-top:4.5%;
    padding-bottom:4.5%;
    margin-top:0;
}
input{
    background:black;
    color:white;
    outline:none;
}
button{
    border:none;
    background-color:greenyellow;
    outline:none;
}
button:hover{
    background:darkgreen;
    color:white;
    border-radius:15%;
}